@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url(fonts/MerriweatherSans-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

.hidden {
    display: none;
}

body {
    background-color: #3C096C;
}

#title {
    color: #FF9E00;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
}

#questionText,
#score,
#result {
    color: #FF9E00;
    font-family: 'Merriweather Sans', sans-serif;
}

#playButton,
.answer {
    font-family: 'Merriweather Sans', sans-serif;
    color: #FF9E00;
    background-color: #3C096C;
    border: 2px solid #FF9E00;
    border-radius: 0.3em;
    transition: 0.3s;
    padding: 9px 20px;
}

.answer:disabled,
.answer:disabled:hover {
    color: white;
    border-color: white;
}

#playButton:hover,
.answer:hover {
    color: yellow;
    border-color: yellow;
}


#progress {
    appearance: none;
    width: 250px;
    height: 20px;
}

#progress,
#answers button {
    width: 100%;
}